<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Teste Robot Framework</title>
    <link rel="stylesheet" type="text/css" href="styles.css"> 
</head>
<body>
    <div class="container"> 
        <h1>Página de Teste</h1>

        <div>
            <a id="Theld" href="#">Link com ID Theld</a>
            <input type="text" name="Blink" placeholder="Input com nome Blink">
        </div>

        <div>
            <a href="http://example.com" class="link">Your Site.com</a>
            <a href="http://example.com/partial" class="link">Link parcial Site.com</a>
        </div>

        <div>
            <input type="submit" value="Submit" class="btn-submit">
            <input type="submit" value="Another Submit" class="btn-submit">
        </div>

        <div class="image-container"> <!-- Contêiner para as imagens -->
            <img src="https://via.placeholder.com/150" alt="Imagem 1">
            <img src="https://via.placeholder.com/150" alt="Imagem 2">
            <img src="https://via.placeholder.com/150" alt="Imagem 3">
            <img src="https://via.placeholder.com/150" alt="Imagem 4">
            <img src="https://via.placeholder.com/150" alt="Imagem 5">
        </div>

        <div>
            <div class="box">Exemplo de texto dentro da div</div>
        </div>
    </div>
</body>
</html>
