/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px; /* Define uma largura máxima para o contêiner */
    margin: 0 auto; /* Centraliza o contêiner na página */
    padding: 0 20px; /* Adiciona espaçamento lateral */
}

h1 {
    color: #333;
    text-align: center;
}

/* Estilizando links */
a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

/* Estilos para os inputs */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos para os botões */
.btn-submit {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-submit:hover {
    background-color: #218838;
}

/* Estilizando as imagens para exibi-las lado a lado */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alinha as imagens ao centro */
    margin-top: 20px;
}

img {
    margin: 10px;
    max-width: 150px; /* Define uma largura máxima para as imagens */
    height: auto;
}

/* Estilos para a caixa de texto */
.box {
    background-color: #e2e2e2;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
}
